.title-row {
  display: none;
}

.search-row {
  display: flex;
  flex-direction: row;

  .logo {
    cursor: pointer;
    margin-left: 10px;
    height: 70px;
  }

  .search-bar {
    align-self: center;
    width: 30%;
    min-width: 300px;
    margin-left: auto;
    margin-top: 10px;

    .clear-input{
      cursor: pointer;
    }
  }

  .search-button {
    cursor: pointer;
    margin-right: auto;
    border: none;
    mat-icon {
      font-size: 30px;
    }
  }

  .dictionaries-drop-down {
    margin: 10px 10px 0;
  }
}

.content {
  margin: 5% 20% 0;
  line-height: 2;
  .searched-word {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
  }

  .lexical-entries {
    .first-row {
      display: flex;
      flex-direction: row;

      .lexical-category {
        font-size: 20px;
      }
    }

    .entries {
      .pronunciations {
        display: flex;
        flex-direction: row;
        span {
          padding: 0 5px;
        }

        .audio {
          cursor: pointer;
        }
      }
    }

    .items-container {
      span {
        padding: 0 5px;
      }
      span:first-of-type {
        padding-left: 0;
      }
    }

    .title {
      font-weight: bold;
    }

    .link{
      display: inline-block;
    }

    .link:hover{
      cursor: pointer;
      text-decoration: underline;
    }
  }
}

.mobile-dictionaries-drop-down {
  display: none;
}

.absolutely-centered{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.not-found {
  font-size: 40px;
  display: flex;
  flex-direction: column;
  text-transform: capitalize;
  line-height: 1;
  text-align: center;

  img{
    width:100px;
    object-fit: scale-down;
    margin: auto;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 800px) {
  .title-row {
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    align-items: center;

    .title {
      font-size: 40px;
      text-transform: capitalize;
      padding-left: 20px;
    }
  }

  .search-row {
    width: 100%;

    .search-bar {
      font-size: 16px;
    }

    .logo {
      display: none;
    }

    .dictionaries-drop-down {
      display: none;
    }
  }

  .mobile-dictionaries-drop-down {
    display: flex;
    width: 100%;
    margin: 10px 0;

    .dictionaries-drop-down {
      margin: auto;
    }
  }

  .content {
    margin: 5%;

    .lexical-entries .link{
      text-decoration: underline;
    }
  }
}
