<div class="title-row" routerLink="/">
  <img class="logo" src="/assets/images/logo.png">
  <span class="title">dictionary</span>
</div>

<div class="search-row">
  <img class="logo" routerLink="/" src="/assets/images/logo.png" title="home">
  <mat-form-field class="search-bar" appearance="outline" >
    <input matInput type="search" (keyup)="onSearchBarKeyUp($event)" #searchBar>
    <mat-icon class="clear-input" *ngIf="currentWord!=''"
    (click)="searchBar.value='';currentWord=''" matSuffix>clear</mat-icon>
  </mat-form-field>

  <ng-container *ngTemplateOutlet="dictionariesDropDown"></ng-container>

  <button [disabled]="currentWord.trim()===''||selectedDictionary===undefined" class="search-button" mat-stroked-button
    color="accent" (click)="searchWord()">
    <mat-icon>search</mat-icon>
  </button>
</div>

<div class="mobile-dictionaries-drop-down">
  <ng-container *ngTemplateOutlet="dictionariesDropDown"></ng-container>
</div>

<div class="content" *ngIf="searchResult;else loadingTemplate">
  <div class="searched-word">{{searchedWord}}</div>
  <div class="lexical-entries" *ngFor="let lexicalEntry of searchResult.lexicalEntries">
    <div class="first-row">
      <div class="lexical-category">{{lexicalEntry.lexicalCategory?.text}}</div>
      <div>
        <span *ngFor="let grammaticalFeature of lexicalEntry.grammaticalFeatures">{{grammaticalFeature.text}}</span>
      </div>
    </div>

    <div class="entries" *ngFor="let entry of lexicalEntry.entries">
      <div>
        <span *ngFor="let grammaticalFeature of entry.grammaticalFeatures">{{grammaticalFeature.text}}</span>
      </div>
      <div class="pronunciations">
        <ng-container *ngFor="let pronunciation of entry.pronunciations">
          <span>[{{pronunciation.phoneticSpelling}}]</span>
          <div class="audio" *ngIf="pronunciation.audioFile" (click)="playAudio(pronunciation.audioFile)">
            <mat-icon>audiotrack</mat-icon>
          </div>
        </ng-container>
      </div>
      <div *ngFor="let sense of entry.senses">
        <div *ngFor="let definition of sense.definitions">{{definition}}</div>
        <div *ngFor="let note of sense.notes">{{note.text}}</div>
        <div *ngFor="let domain of sense.domains">{{domain.text}}</div>
        <div *ngFor="let etymology of sense.etymologies">{{etymology}}</div>
        <div class="items-container" *ngIf="sense.translations && sense.translations.length>0">
          <span class="title">translations: </span>
          <span *ngFor="let translation of sense.translations">{{translation.text}}</span>
        </div>
        <div class="pronunciations">
          <span *ngFor="let pronunciation of sense.pronunciations">{{pronunciation.phoneticSpelling}}</span>
        </div>
        <div class="items-container" *ngIf="sense.synonyms && sense.synonyms.length>0"><span class="title">synonyms:
          </span><span *ngFor="let synonym of sense.synonyms" (click)="openWordLink(synonym.text)" class="link">{{synonym.text}}</span></div>
        <div class="items-container" *ngIf="sense.antonyms && sense.antonyms.length>0"><span class="title">antonyms:
          </span><span *ngFor="let antonym of sense.antonyms" (click)="openWordLink(antonym.text)" class="link">{{antonym.text}}</span></div>
        <div *ngIf="sense.examples">
          <span class="title">examples: </span>
          <div *ngFor="let example of sense.examples">
            <div>{{example.text}}</div>
            <div class="items-container" *ngIf="example.translations && example.translations.length>0">
              <span *ngFor="let translation of example.translations"><i>{{translation.text}}</i></span>
            </div>
          </div>
        </div>
      </div>
      <div class="items-container" *ngIf="entry.etymologies"><span class="title">etymology: </span><span
          *ngFor="let etymology of entry.etymologies">{{etymology}}</span></div>
      <div class="items-container" *ngIf="entry.notes"><span class="title">notes: </span><span
          *ngFor="let note of entry.notes">{{note.text}}</span></div>
    </div>
    <div class="items-container" *ngIf="lexicalEntry.derivatives">
      <span class="title">derivatives: </span>
      <span *ngFor="let derivative of lexicalEntry.derivatives" (click)="openWordLink(derivative.text)" class="link">{{derivative.text}}</span>
    </div>
    <div class="items-container" *ngIf="lexicalEntry.derivativeOf">
      <span class="title">derivative of: </span>
      <span *ngFor="let derivativeOf of lexicalEntry.derivativeOf" (click)="openWordLink(derivativeOf.text)" class="link">{{derivativeOf.text}}</span>
    </div>
    <div class="items-container" *ngIf="lexicalEntry.compounds">
      <span class="title">compounds: </span>
      <span *ngFor="let compound of lexicalEntry.compounds" (click)="openWordLink(compound.text)" class="link">{{compound.text}}</span>
    </div>
    <div class="items-container" *ngIf="lexicalEntry.phrasalVerbs">
      <span class="title">phrasal verbs: </span>
      <span *ngFor="let phrasalVerb of lexicalEntry.phrasalVerbs" (click)="openWordLink(phrasalVerb.text)" class="link">{{phrasalVerb.text}}</span>
    </div>
    <div class="items-container" *ngIf="lexicalEntry.phrases">
      <span class="title">phrases: </span>
      <span *ngFor="let phrase of lexicalEntry.phrases" (click)="openWordLink(phrase.text)" class="link">{{phrase.text}}</span>
    </div>
  </div>
</div>

<div class="not-found absolutely-centered" *ngIf="showWordNotFoundMessage">
  <img src="/assets/images/error.png">
  word not found
</div>

<ng-template #loadingTemplate>
  <mat-spinner *ngIf="!showWordNotFoundMessage" class="absolutely-centered" color="accent"></mat-spinner>
</ng-template>

<ng-template #dictionariesDropDown>
  <mat-form-field appearance="outline" class="dictionaries-drop-down">
    <mat-select [(value)]="selectedDictionary">
      <mat-option *ngFor="let dictionary of dictionaries" [value]="dictionary">{{dictionary.source |
        removeDictionaryWord}}</mat-option>
    </mat-select>
  </mat-form-field>
</ng-template>
