@import "~@angular/material/theming";

$dictionary-primary: mat-palette($mat-blue-grey);
$dictionary-accent: mat-palette($mat-teal);
$dictionary-warn: mat-palette($mat-red);

$primary-color: mat-color($dictionary-primary);
$accent-color: mat-color($dictionary-accent);
$warn-color: mat-color($dictionary-warn);
