// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "~@angular/material/theming";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
// $dictionary-primary: mat-palette($mat-blue-grey);
// $dictionary-accent: mat-palette($mat-teal);

// // The warn palette is optional (defaults to red).
// $dictionary-warn: mat-palette($mat-red);

@import "./style-variables.scss";

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$dictionary-theme: mat-light-theme(
  (
    color: (
      primary: $dictionary-primary,
      accent: $dictionary-accent,
      warn: $dictionary-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($dictionary-theme);

@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "DM Sans", sans-serif;

  .mat-form-field-appearance-outline .mat-form-field-outline-thick {
    color: $primary-color;
  }

  .mat-form-field-wrapper {
    padding: 0;
  }
}
