<div class="main-content">

  <div class="left-panel">

    <div class="choice-title">Choose the dictionary</div>

    <div class="choice-row">
      <div class="choice-search">
        <mat-form-field class="choice-search-bar" appearance="outline">
          <input matInput type="search" (keyup)="searchedDictionaryWord=dictionarySearchBar.value" #dictionarySearchBar>
          <mat-icon class="clear-input" *ngIf="searchedDictionaryWord!=''"
            (click)="dictionarySearchBar.value='';searchedDictionaryWord=''" matSuffix>clear</mat-icon>
        </mat-form-field>
      </div>


      <mat-radio-group class="types-panel" [value]="selectedDictionaryTypeIndex"
        (change)="setSelectedDictionaryType($event)">
        <mat-radio-button class="dictionary-type" aria-selected="" *ngFor="let typeIndex of dictionaryTypeIndexes"
          [value]="typeIndex">
          {{DictionaryType[typeIndex]}}</mat-radio-button>
      </mat-radio-group>
    </div>


    <cdk-virtual-scroll-viewport itemSize="50" class="dictionary-list-panel">
      <div
        *ngFor="let dictionary of dictionaries | filterDictionaries:selectedDictionaryTypeIndex:searchedDictionaryWord;"
        [ngClass]="{'dictionary-list-selected': selectedDictionary===dictionary}" class="dictionary-list-entry"
        (click)="selectDictionary(dictionary)">
        <span class="dictionary-name">{{dictionary.source | removeDictionaryWord}}</span>
      </div>
    </cdk-virtual-scroll-viewport>

  </div>

  <div class="right-panel">
    <div class="title-container">
      <img class="logo" src="/assets/images/logo.png">
      <span class="title">dictionary</span>
    </div>

    <div class="search">
      <mat-form-field class="search-bar" appearance="outline">
        <input matInput type="search" (keyup)="onSearchBarKeyUp($event)">
      </mat-form-field>

      <button [disabled]="currentWord.trim()===''||selectedDictionary===undefined" mat-stroked-button color="accent" class="search-button" (click)="searchWord()"><span class="search-button-text">search</span>
        <mat-icon class="search-button-icon">search</mat-icon>
      </button>
    </div>

    <div class="missing-dictionary-message" [ngStyle]="{visibility: selectedDictionary ? 'hidden' : 'visible'}">Choose the dictionary before searching</div>

    <mat-form-field appearance="outline" class="dictionaries-drop-down">
      <mat-label>Choose the dictionary</mat-label>
      <mat-select [(value)]="selectedDictionary">
        <mat-option *ngFor="let dictionary of dictionaries " [value]="dictionary">{{dictionary.source |
          removeDictionaryWord}}</mat-option>
      </mat-select>
    </mat-form-field>

  </div>

</div>
