@import "../../style-variables.scss";

.main-content {
  width: 90%;
  display: grid;
  grid-template-columns: 25% 75%;
  padding: 5% 5% 0;

  .left-panel {
    margin-top: 50px;

    .choice-title {
      width: 100%;
      font-size: 30px;
      white-space: nowrap;
      margin-bottom: 30px;
    }

    .choice-row {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .choice-search {
        height: fit-content;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 50%;

        .choice-search-bar {
          width: 100%;

          .clear-input {
            cursor: pointer;
          }
        }

        .choice-search-icon {
          color: $primary-color;
          padding-left: 10px;
          cursor: pointer;
        }
      }

      .types-panel {
        display: flex;
        flex-direction: column;
        float: right;
        line-height: 1.5;

        .dictionary-type {
          font-size: 16px;
          text-transform: capitalize;
        }
      }
    }

    .dictionary-list-panel {
      margin-top: 30px;
      height: 60vh;
      width: 300px;
      font-size: 16px;

      .dictionary-list-entry {
        display: flex;
        flex-direction: row;
        cursor: pointer;

        .dictionary-name {
          line-height: 2;
          text-transform: capitalize;
        }
      }

      .dictionary-list-selected {
        font-weight: 500;
        background-color: rgba($accent-color, 0.2);
      }
    }
  }

  .right-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    .title-container {
      width: 100%;
      text-align: center;
      vertical-align: middle;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin-bottom: 50px;

      .logo {
        padding: 10px;
      }

      .title {
        font-size: 50px;
        text-transform: capitalize;
      }
    }

    .search {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;

      .search-bar {
        width: 60%;
      }

      .search-button {
        border-color: $accent-color;
        width: fit-content;
        padding: 5px 10px;
        margin-top: 10px;

        .search-button-text {
          text-transform: capitalize;
        }

        .search-button-icon {
          padding: 5px 0 5px 10px;
          float: right;
        }
      }
    }

    .missing-dictionary-message {
      color: red;
      margin-top: 10px;
    }

    .dictionaries-drop-down{
      display: none;
    }
  }
}

@media screen and (max-width: 800px) {
  .main-content {
    width: 100%;
    display: block;
    padding: 0;

    .left-panel {
      display: none;
    }

    .right-panel {
      .search {
        flex-direction: row;
        width: 90%;
        margin: auto;

        .search-bar {
          width: 90%;
          font-size: 16px;
        }

        .search-button {
          width: 10%;
          margin: 0;
          border: none;
          height: 100%;

          .search-button-text {
            display: none;
          }

          .search-button-icon {
            padding: 0;
            float: none;
            font-size: 30px;
          }
        }
      }

      .dictionaries-drop-down{
        display: block;
        margin-top: 10%;
        width: 80%;
        min-width: 250px;
      }
    }
  }
}
